<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>potato plant disease classification</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>??</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#upload" data-after="Home">Home</a></li>
            <li><a href="#history" data-after="Service">View History</a></li>
            <li><a href="#projects" data-after="Projects">Disease</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  <section id = "upload" style="background-color: gray;">
    <div class="banner">
        <div class="info">
            <h1>UPLOAD IMAGE <span>FOR CLASSIFICATION</span></h1>
            <div class="whole" style="width:40.4%">
                <div class="wrapper">
                    <div class="image">
                        <img src="" alt="" id = "img1">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="text">
                            No file chosen, yet!
                        </div>
                    </div>
                    <div id="cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <button onclick="defaultBtnActive()" id="custom-btn">Select Image</button>
                <input id="default-btn" type="file" hidden>
                <button onclick="" id="custom-btn">Submit Image</button>
                <input id="default-btn" type="file" hidden>
            </div>
        </div>
  </section>
  <!-- End Header Section  -->
  <!-- <section id="projects1">
    <div class="projects container1">
      <div class="projects-header1">
        <h1 class="section-title"><span>Result</span></h1>
      </div>
      <div class="all-projects1">
        <div class="project-item1">
          <div class="project-img1">
            <img src={{src}} alt="img">
          </div>
          <div class="project-info1">
            <p>The predicted class is {{predictedLabel}}</p>
            <p>Confidence: {{confidence}}%</p>
            <p>Image name: {{filename}}</p>
            {% if lateblight %}
            <p><br><b>Treatment:</b>
            <br>late Blight is controlled by eliminating cull piles and volunteer potatoes, using proper harvesting and storage practices, and applying fungicideswhen necessary. Air drainage to facilitate the drying of foliage each day is important.</p>

            {% elif earlyblight %}
            <p>
              <b>Early Blight </b><br> Early Blight is caused by the fungus Alternaria solani. It is found wherever potatoes are grown.<br> Treatment 1. planting potato varieties that are resistant to the disease; late maturing are more resistant than early maturing varieties.<br> 2. Avoid overhead irrigation and allow for sufficient aeration between plants to allow the foliage to dry as quickly as possible.<br> 3. Keep the potato plants healthy and stress free by providing adequate nutrition and sufficient irrigation, especially later in the growing season after flowering when plants are most susceptible to the disease.</p><br><br><br>

              {% elif healthy %}
              <p>The leaf was a healythy Leaf</p><br><br><br>

              {% else %}
              <p>The image was predicted Unknoen</p><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Disease<span>Types</span></h1>
      </div>
      <h1>Early<span>Blight<span></h1>
      <div class="project-item">
        <div class="project-info">
          <div class="project-img">
            <img src="3.jpg" alt="img">
          </div>
          <h2>What is early blight?</h2>
          <p>Early blight is a disease that affects stressed or senescing plants. The oldest foliage shows the first signs of disease. Affected leaves develop round to angular dark brown lesions with a diameter of 0.12 to 0.16 inch (3–4 mm). In lesions, concentric rings frequently develop, producing a target-board appearance. Leaves that are severely diseased become yellow and drop. A brown, corky dry rot can be seen on infected tubers.</p>
        </div>
      </div>
      <h1>Late<span>Blight</h1>
      <div class="project-item">
        <div class="project-info">
          <div class="project-img">
            <img src="2.jpg" alt="img">
          </div>
          <h2>What is late blight?</h2>
          <p>Blight is caused by the funguslike oomycete pathogen Phytophthora infestans. This potentially devastating disease can infect potato foliage and tubers at any stage of crop development.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="1.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>us</span></h1>
        <h2>...</h2>
        <p>...</p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+975 17743174</h2>
            <h2>+975 12345678</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>12190105.gcit@rub.edu.bt</h2>
            <h2>12190054.gcit@rub.edu.bt</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Mongar, Gyalpozhing, Bhutan</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Potato Plant</span>Disease Classification</h1>
      </div>
      <h2>Solution For Your Potato Plant Diseases</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <!-- <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div> -->
      </div>
      <p>Copyright © 2020 Group 12. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>