{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KEWA DOCTOR</title>
    <style >
		iframe,
		video{
			display:block;
			margin:1em auto;
			width:80%;
			height: calc(.4625 * 80vw);
			max-width:  637px;
			min-width:  420px;

		}
	</style>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="/">
                        <img src="{% static 'img/logo.png' %}" id="logo" style="width: 75px; height: 75px;" alt="img">
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <li><a href="history" data-after="View History">View History</a></li>
                        <li><a href="#projects" data-after="Disease">Disease</a></li>
                        <li><a href="#about" data-after="About">About</a></li>
                        <li><a href="#contact" data-after="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    {% block content%} {% endblock %}




    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Disease<span>Types</span></h1>
            </div>
            <h1>Early<span>Blight<span></h1><p></p><p></p>
      <div class="project-item">
        <div class="project-info">
          <div class="project-img">
            <img src="{% static 'img/2.jpg' %}" alt="img">
          </div><p></p><p></p>
          <h2>What is Late Blight?</h2><p></p>
          <p><b>Late Blight </b> is caused by the funguslike oomycete pathogen Phytophthora infestans. This potentially devastating disease can infect potato foliage and tubers at any stage of crop development. <br><br></p>
          <p></p>
        </div>
      </div><p></p><p> </p><p></p><p></p>
      <h1>Late<span>Blight</h1><p></p><p></p>
      <div class="project-item">
        <div class="project-info">
          <div class="project-img">
            <img src="{% static 'img/3.jpg' %}" alt="img">
          </div><p></p><p></p>
          <h2>What is Early Blight?</h2><p></p>
          <p><b>Early Blight </b>is caused by the fungus Alternaria solani. It is found wherever potatoes are grown.<br></p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'img/1.jpg' %}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>us</span></h1>
            <h2>KEWA DOCTOR</h2>
            <p>Your assistant to treat potato leaf diseases.</p>
            <p>A project that was aimed to classify the disease of a potato leaf, suggests the treatment for a leaf disease. </p>
            <p>Check our API at <a href="https://rapidapi.com/Ugyenwangdi/api/kewa-doctor/" target="_blank"><b style="color: blue;">RapidAPI Hub</a></b>
            </p>

        </div>
        </div>
    </section>
    <!-- End About Section -->
    <section>
		<!-- video controls>
			<source src="123.mp4" type="video/mp4">
		</video> -->
		<iframe src="https://drive.google.com/file/d/12O5pnJhVD8CvH88mZKWMXgG3hqLDgX5B/preview" width="640" height="480" allow="autoplay ; encrypted-media" allowfullscreen></iframe>
	</section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="section-title">Contact <span>info</span></h1>
            </div>
            <div class="contact-items">
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+975 12345678</h2>

                        {% comment %} <h2>+975 77714393</h2>
                        <h2>+975 77887853</h2>
                        <h2>+975 77354374</h2>
                        <h2>+975 17743174</h2> {% endcomment %}
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        {% comment %} <h2>kewadoctor@gmail.com</h2> {% endcomment %}

                        <h2>12190051.gcit@rub.edu.bt</h2>
                        <h2>12190053.gcit@rub.edu.bt</h2>
                        <h2>12190093.gcit@rub.edu.bt</h2>
                        <h2>12190105.gcit@rub.edu.bt</h2> 

                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Mongar, Gyalpozhing, Bhutan</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>Potato Leaf</span> Disease Classification</h1>
            </div>
            <h2>Solution For Your Potato Plant Diseases</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="https://www.facebook.com" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://gitlab.com/p7521/potatoleafdisease" target='_blank'><img src="https://img.icons8.com/color/48/undefined/gitlab.png"/></a>
                  </div>
                <!-- <div class="social-item">
                    <a href="https://twitter.com" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                </div> -->

                {% comment %} <div class="social-item">

                    <a href="mailto:kewadoctor@gmail.com"><img src="https://img.icons8.com/carbon-copy/100/000000/apple-mail.png" /></a>

                </div> {% endcomment %}


            </div>
            <p>© 2022 KEWADOCTOR. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>